@charset "utf-8";


.con
{
	margin:0 auto;
	width:100%;
	overflow:auto;
}
.cal
{
    width:18%;
    float:left; 
    height:700px;   
    overflow:auto;
}
.m
{
	width:80%;	
	float:right;
}
.map_can
{
	border:thin solid black;
	width:75%;
	height:700px;
	float:left;
}
.ifr
{	
	width: 24%;
	float:right;
	height:700px;	
	overflow:auto;
}
.ifloat
{	
	width: 100%;
	height:700px;
	border: none;
	overflow:scroll;
}

.calf
{
	padding:0px;
	width:25%;
	height:25%;
	display:none;
	background-color:white;
	border-bottom:thin solid black;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	z-index:1001;
	position:fixed;
	top:25px;
	right:0px;
}
.ifrf
{
	z-index:1001;
	width: 25%;
	display:none;
	height:70%;
	position:fixed;
	bottom:0px;
	right:0px;
	background-color:white;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}

